---
layout: base
---

{% include header.html type="page" %}

<div role="main" class="container" style="max-width: 1000px; margin: auto">
  {{ content }}
</div>

<style>
table:nth-of-type(1) {
    display:table;
    width:90%;
    margin-left:0%;
    border: 0px solid white;
    background-color: #ffffff;
}
  
  
table tr:nth-child(n) {
    background-color: #ffffff;
    border: 0px solid white;
    border-top: 0px solid #ffffff;
}
  
  
table:nth-of-type(2) {
    display:table;
    width:90%;
    margin-left:0%;
}
table:nth-of-type(3) {
    display:table;
    width:90%;
    margin-left:0%;
}
table:nth-of-type(4) {
    display:table;
    width:90%;
    margin-left:0%;
}
table:nth-of-type(5) {
    display:table;
    width:90%;
    margin-left:0%;
}
table:nth-of-type(6) {
    display:table;
    width:90%;
    margin-left:0%;
}
</style>
